@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    /* font-family: 'Poppins', sans-serif; */
  font-family: "Inter", sans-serif;

}

.animate__slideInUp {
  animation-duration: 0.3s;
  animation-name: slideInUp;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 25%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
}

.hide {
  transform: translateY(-100%);
}
